/*Encabezado*/
.row .top-nav .nav{
  display: flex;
}
.top-nav .nav{
  background-color: #295596;
  justify-content: center;
  height: 27px;
  padding-top: 0;
}

.nav-link2{
  color: #295596 !important;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 800;
}
.nav-link1{
  color: #f0f0f0 !important;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
}

a{
  padding: 0;
}
/*fin encabezado*/


/*Banners*/
.mobil{
  object-fit: cover;
}
/*fin banners*/

/*Navbar*/
.menu{
  position:fixed;
  width: 100%;
  z-index: 999;
}
.nav-principal{
  background-color:#f0f0f0;
  
}
.menu-principal{
  color: #295596 !important;
  font-weight: 900 !important;
  font-size: 20px !important;
}
.menu-principal:hover{
  color: #295596 !important;
  font-weight: 900 !important;
  font-size: 20px !important;
  background-color: #fff;
}
.navbar-expand-lg .navbar-nav{
  padding-left: 90px !important;
}
.nav-item{
  padding-right: 30px;
}
/*fin Navbar*/

/*redes sociales*/

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}

.social-bar {
	position: fixed;
	right: 0;
	top: 35%;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 100;
}

.icon {
	color: white;
	text-decoration: none;
	padding: .7rem;
	display: flex;
	transition: all .5s;
}

.icon-facebook {
	background: #2E406E;
}

.icon-twitter {
	background: #339DC5;
}

.icon-youtube {
	background: #E83028;
}

.icon-instagram {
	background: #3F60A5;
}

.icon:first-child {
	border-radius: 1rem 0 0 0;
}

.icon:last-child {
	border-radius: 0 0 0 1rem;
}

.icon:hover {
	padding-right: 3rem;
	border-radius: 1rem 0 0 1rem;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}
/*fin redes sociales*/

/*La empresa*/
.la-empresa-conteiner{
  background-color: #295596;
}
.la-empresa{
  text-align: center;
  font-size: 50px;
  color: #ffffff;
  font-weight: 600;
}

.la-empresa-p{
  color: rgb(255, 255, 255);
  font-size: 16px;
  text-align: center;
  padding: 20px 5% 0px 5% !important;
  font-weight: 500;

}

/*Fin La empresa*/

/*productos*/

/*Fin productos*/


/*Contactenos*/
.box a{
  text-decoration: none;
  color: #fff;
}
.box .box2:hover{
  color: #fff;
  background-color: #3a77d3;
  border-radius: 8px;
  padding: 8px;
}
.box img{
  border: 5px solid #fff;
  border-radius: 9px;
}
/*Fin Contactenos*/


/*Media qerys*/
@media screen and (max-width: 600px) {
  .top-nav .nav{
    height: 20px;
  }
  .top-nav .nav a{
    font-size: 12px;
    align-items: center;
  }
  .aaa{
    width: 6px;
  } 

  #carouselExampleIndicators{
    padding-top: 114px !important;
  }

  .mobil{
    width: 200px;
    height: 400px;
  }
}


